[submodule "AutoSchA"]
	path = AutoSchA
	url = https://github.com/williammentz/AutoSchA.git
[submodule "symbolic-texture-dataset"]
	path = symbolic-texture-dataset
	url = https://github.com/williammentz/symbolic-texture-dataset.git
