[submodule "AutoSchA"]
	path = AutoSchA
	url = https://github.com/williammentz/AutoSchA.git
[submodule "symbolic_texture_dataset"]
	path = symbolic_texture_dataset
	url = https://github.com/williammentz/symbolic-texture-dataset.git
